
@{
    ViewBag.Title = "Contact";
}

<div class="jumbotron" style="background-color: rgba(91, 91, 91, .6);">
    <div class="jumbotron" style="background-color: rgba(255, 255, 255, .6);" >
        <form id="pizza" class="form-signin" style="margin-left: 320px">
            <img src="~/Content/Image/contactpizza.jpg" />
            <h2>@ViewBag.Title.</h2>
            <h3>@ViewBag.Message</h3>
            <address>
                1 pizza way, <br />
                DoornPoort, Pretoria North<br />
                <abbr title="Phone">Phone:</abbr>
                012 546 8545
            </address>

            <address>
                <strong>Sugestions:</strong>   <a href="#">Hermanpizza@designpizza.com</a><br />
                <strong>Info:</strong> <a href="#">tebsapizza@designpizza.com</a>
            </address>
        </form>
    </div>
</div>
